@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic');
@import url(grid.css);
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

body {
  margin-top: 105px; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }

#showcase {
  position: relative;
  background: url("../img/mountains.jpg");
  min-height: 600px; }
  #showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#authors img {
  margin-top: -50px; }

#authors .fa {
  font-size: 25px; }

#authors .card:hover {
  background: #3292a6;
  color: #fff; }
  #authors .card:hover .fa {
    color: #fff; }

.light {
  color: #111;
}

/* Footer */
footer {
  background-color: #111;
  padding: 60px 0 40px;
  font-size: 90%;
}

.footer-nav {
  list-style: none;
  float: left;
}

#footer-nav {
  margin-left: 10%;
}

.social-nav {
  list-style: none;
  float: right;
}

#social-nav {
  margin-right: 10%;
}

footer li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

footer li:last-child {
  margin-left: 5px;
  margin-right: 0;
}

footer li a:link,
footer li a:visited {
  text-decoration: none;
  font-weight: 400;
  font-size: 110%;
  border: 0;
  text-transform: uppercase;
  color: #3366cc;
  transition: all 0.2s;
}

footer li a:hover,
footer li a:active {
  color: #6699ff;
}

.social-nav i {
  font-size: 170%;
  color: whitesmoke;
}

.fa-linkedin,
.fa-facebook,
.fa-twitter-square,
.fa-instagram {
  transition: all 0.3s;
}

.fa-linkedin:hover {
  color: #007bb5;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter-square:hover {
  color: #1da1f2;
}

.fa-instagram:hover {
  color: #db4437;
}

footer p:first-child {
  margin-top: 100px;
}
footer p {
  color: #b1c8f5;
  font-weight: 400;
  font-size: 80%;
  text-transform: uppercase;
  text-align: center;
  line-height: 200%;
  letter-spacing: 2px;
  word-spacing: 3px;
}

footer p:last-child {
  font-size: 65%;
}

footer p i {
  color: red;
  font-size: 130%;
}

/* Footer End*/
